<activePackageSource>
  <add key="All" value="(Aggregate source)" />
</activePackageSource>
<packageSources>
  <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  <add key="appveyor_account_feed" value="https://ci.appveyor.com/nuget/rgregg-dju7gcli4m8k/api/v2/" />
</packageSources>
<disabledPackageSources />
<packageSourceCredentials>
  <appveyor_account_feed>
    <add key="Username" value="ryan.gregg@microsoft.com" />
    <add key="ClearTextPassword" value="(ehDB2liU5$m" />
  </appveyor_account_feed>
</packageSourceCredentials>