<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <config>
    <add key="repositorypath" value="$(Solutiondir)\Packages" />
  </config>  
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="appveyor" value="https://ci.appveyor.com/nuget/vroom-csharp-client-mhqn3c9n8iy6" />
  </packageSources>
  <disabledPackageSources />
  <packageSourceCredentials>
    <appveyor>
      <add key="Username" value="ryan.gregg@microsoft.com" />
      <add key="ClearTextPassword" value="(ehDB2liU5$m" />
    </appveyor>
  </packageSourceCredentials>
</configuration>
